@font-face{
  font-family: 'GTSpectra';
  src: url('/fonts/GTSpectra.woff')format('woff'),
       url('/fonts/GTSpectra.eot')format('embedded-opentype'),
       url('/fonts/GTSpectra.svg')format('svg'),
       url('/fonts/GTSpectra.ttf')format('truetype');
}


@font-face{
  font-family: 'Grouch';
  src: url('/fonts/Grouch.woff')format('woff'),
       url('/fonts/Grouch.eot')format('embedded-opentype'),
       url('/fonts/Grouch.ttf')format('truetype'),
       url('/fonts/Grouch.svg')format('svg');
}